<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>oops</title>
    <style>
    *{
        background-color: blanchedalmond;
        text-align: center;
        margin-top: 40px;
    }
    img{
        max-width: 60px;
        border-radius: 10px;
    }
    button{
        background-color: blue;
    }
    input{
        background-color: aquamarine;
    }
    </style>
</head>
<body>
    <form method="post">
        <input type="text" name="name" placeholder="enter the name"><br>
        <input type="number" name="age" placeholder="enter the age"><br>
        <input type="text" name="purchased" placeholder="enter purchased_item"><br>
        <input type="number" name="amount" placeholder="Enter the amount"><br>
        <input type="text" name="url" placeholder="Enter the url"><br>
        <button type="submit">ok</button>
    </form>
</body>
</html>